/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
.offerteplek-page,
.offerteplek-form {
    text-align: left;

    button,
    hr,
    input {
        overflow: visible
    }

    audio,
    canvas,
    progress,
    video {
        display: inline-block
    }

    progress,
    sub,
    sup {
        vertical-align: baseline
    }

    [type=checkbox],
    [type=radio],
    legend {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0
    }

    html {
        font-family: sans-serif;
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
    }

    body {
        margin: 0
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    main,
    menu,
    nav,
    section {
        display: block
    }

    h1 {
        font-size: 2em;
        margin: .67em 0
    }

    figure {
        margin: 1em 40px
    }

    hr {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 0
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em
    }

    a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects
    }

    a:active,
    a:hover {
        outline-width: 0
    }

    abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted
    }

    b,
    strong {
        font-weight: bolder
    }

    dfn {
        font-style: italic
    }

    mark {
        background-color: #ff0;
        color: #000
    }

    small {
        font-size: 80%
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative
    }

    sub {
        bottom: -.25em
    }

    sup {
        top: -.5em
    }

    audio:not([controls]) {
        display: none;
        height: 0
    }

    img {
        border-style: none
    }

    svg:not(:root) {
        overflow: hidden
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0
    }

    button,
    select {
        text-transform: none
    }

    [type=reset],
    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: button
    }

    [type=button]::-moz-focus-inner,
    [type=reset]::-moz-focus-inner,
    [type=submit]::-moz-focus-inner,
    button::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    [type=button]:-moz-focusring,
    [type=reset]:-moz-focusring,
    [type=submit]:-moz-focusring,
    button:-moz-focusring {
        outline: ButtonText dotted 1px
    }

    fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: .35em .625em .75em
    }

    legend {
        color: inherit;
        display: table;
        max-width: 100%;
        white-space: normal
    }

    textarea {
        overflow: auto
    }

    [type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
        height: auto
    }

    [type=search] {
        -webkit-appearance: textfield;
        outline-offset: -2px
    }

    [type=search]::-webkit-search-cancel-button,
    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
    }

    summary {
        display: list-item
    }

    [hidden],
    template {
        display: none
    }
}

@import "variables.less";
@import "fonts.css";

body,
html {
    height: initial;
}

/* ===============   Most used selectors   ============== */
.offerteplek-form {
    display: inline-block;
    padding: 15px;

    .ui.form .field {
        margin-bottom: 2.2rem !important;
    }

}

.offerteplek-form.reggister-from {
    .ui.form .field {
        margin-bottom: 25px;

        .error-message {
            margin-top: -7px;
        }

        input {
            box-shadow: 0 0 0 0 transparent inset !important;
            border: none;

            &:-webkit-autofill {
                background: #fff;
            }
        }
    }
}

.offerteplek-form .ui.form .field input {
    padding-top: 15px;
    padding-bottom: 14px;
}

.offerteplek-form .ui.form,
.offerteplek-page .ui.form {
    &.restore-password{
        h3{
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color: #000000;
            opacity: 0.75;
            margin-bottom: 5px;
            text-align: center;
        }
        p{
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            color: #C7C7C7;
            max-width: 206px;
            text-align: center;
            margin: 0 auto 38px;
        }
        .field{
            margin-bottom: 25px;
            label{
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
                color: #000000;
                opacity: 0.75;
            }
        }
        .wrap-input{
            position: relative;
            display: inline-block;
            width: 100%;
            input{
                display: block;
                padding-right: 40px;
                position: relative;
                z-index: 2;
            }
            &.show{
                .show-password{
                    opacity: 1;
                    z-index: 2;
                }
                .toggle-icon{
                    .line{
                        stroke: #2C2B2B;
                    }
                }
            }
            .strong{
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 2px;
                .strong-line{
                    width: 0;
                    height: 2px;
                }
                &.bad{
                    .strong-line{
                        width: 25%;
                        background: red;
                    }
                    .strong-word{
                        color: red;
                    }
                }
                &.easy{
                    .strong-line{
                        width: 50%;
                        background: orange;
                    }
                    .strong-word{
                        color: orange;
                    }
                }
                &.medium{
                    .strong-line{
                        width: 75%;
                        background: #FBED76;
                    }
                    .strong-word{
                        color: #FBED76;
                    }
                }
                &.heavy{
                    .strong-line{
                        width: 100%;
                        background: #00CA12;
                    }
                    .strong-word{
                        color: #00CA12;
                    }
                }
                .strong-word{
                    display: block;
                    text-align: right;
                }
            }
            .show-password{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: -1;
            }
            .toggle-icon{
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                font-size: 0;
                display: flex;
                align-items: center;
                z-index: 3;
                cursor: pointer;
                .line{
                    stroke: none;
                }
            }
        }
        .field + p{
            margin-bottom: 25px;
        }
        .button{
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
        }
        .center{
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            text-transform: lowercase;
            color: #8DA9D3;
            a{
                font-size: 1em;
            }
        }
    }
    .select2-container {
        max-width: 100%;
        width: 100% !important;
    }

    .select2-container .select2-selection--single,
    .select2-container .select2-selection--multiple {
        background: #fff;
    }

    .field input {
        background: #fff;

        &:focus {
            background: #fff;
        }
    }

    .next-step {
        border-radius: 22px;

        span {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
        }

        img {
            width: 25px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 6px;
        }
    }

    &,
    &.main-form {
        .ui.button.submit {
            background: #4DBF0B;

            &:hover {
                background: darken(#4dbf0b, 20) !important;
            }
        }
    }

    select[multiple]+.select2-container {
        &:after {
            content: '';
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            right: 7px;
            margin-left: -4px;
            position: absolute;
            top: 20px;
            width: 0;
        }
    }
}

.disclaimer {
    font-weight: 100;
    font-size: 36px;
    font-family: @SourceSansPro;
    color: #000;
    line-height: 1.4;

    &.center {
        text-align: center;
    }

    &.padding {
        padding: 20px 10px;
    }

    h1 {
        margin: 0 !important;
        font-weight: 100;
        font-size: 36px;
        font-family: @SourceSansPro;
        color: #000;
        line-height: 1.4;
    }

    p {
        font-weight: 100;
        font-size: 16px;
        font-family: @SourceSansPro;
        color: #000;
        line-height: 1.4;
    }
}

.select2-dropdown {
    border-color: rgba(34, 36, 38, 0.15);
}

.offerteplek-page {
    padding-bottom: 40px;
    .history-blocks {
        position: relative;
    }
    &.history-page{
        padding-top: 40px;
    }

    .filters {
        margin-bottom: 30px;
        margin-top: 30px;

        .field {
            min-width: 200px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            &:not(:last-child) {
                margin-right: 10px;
            }
            .select2-container .select2-selection--single{
                height: 42px;
            }
            .select2-container--default .select2-selection--single .select2-selection__placeholder, 
            .select2-container--default .select2-selection--single .select2-selection__placeholder,{
                font-family: @SourceSansPro;
                font-size: 16px;
                color: #ccc;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow{
                height: 40px;
            }
            .select2-container .select2-selection--single, 
            .select2-container .select2-selection--multiple{
                border-color: #ccc;
            }

            .select2-container .select2-search--inline input,
            .select2-container .select2-search--inline input {
                padding: 5px 10px;
                font-family: @SourceSansPro;
                font-size: 16px;
                &::-webkit-input-placeholder {
                    color: #ccc;
                    font-size: 16px;
                }
                &::-moz-placeholder {
                    color: #ccc;
                    font-size: 16px;
                }
                &:-ms-input-placeholder {
                    color: #ccc;
                    font-size: 16px;
                }
                &:-moz-placeholder {
                    color: #ccc;
                    font-size: 16px;
                }
            }

            select {
                width: 100%;
            }

            .select2-container {
                min-height: 40px;
                .select2-selection--multiple {
                    min-height: 40px;
                    &:after{
                        content: "";
                        border-color: #888 transparent transparent;
                        border-style: solid;
                        border-width: 5px 4px 0;
                        height: 0;
                        right: 7px;
                        margin-left: -4px;
                        position: absolute;
                        top: 20px;
                        width: 0;
                    }
                }
                .select2-selection--multiple .select2-selection__rendered {
                    min-height: 40px;
                    line-height: 23px;

                    .select2-search--inline:first-child {
                        input {
                            margin-top: 0;
                            font-size: 15px!important;
                        }
                    }
                }
                .select2-selection__rendered {
                    min-height: 40px;
                    line-height: 38px;

                    .select2-search--inline:first-child {
                        input {
                            margin-top: 0;
                            font-size: 15px!important;
                        }
                    }
                }
            }

            .btn-reset {
                padding: 5px 20px;
                font-size: 16px;
                color: #777;
                border-radius: 3px;
                border: 1px solid #777;
                cursor: pointer;
                transform: translateX(0);
                opacity: 1;
                transition: opacity .3s, transform 0s 0s;
                min-height: 42px;
                display: flex;
                align-items: center;

                &.hidden {
                    pointer-events: none;
                    opacity: 0;
                    transform: translateX(-100vw);
                    transition: opacity .3s, transform 0s .3s;
                }

                .icon {
                    width: 10px;
                    height: 10px;
                    position: relative;
                    display: inline-block;
                    margin-right: 8px;
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: #777;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &:after {
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
        }
    }

    .inner-sticky-content {
        p{
            font-size: 20px;
        }
        &:not(.active) {
            display: none;
        }

        .choose-purchase {
            background: #f0f0f0;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 15px;
            margin-left: -3em;
            margin-right: -3em;
            padding-left: 3em;
            padding-right: 3em;
        }

        .checkbox-field {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            position: relative;
            margin-bottom: 22px;

            input {
                opacity: 0;
                position: absolute;
            }

            span {
                font-weight: 500;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;
                    border: 1px solid #333;
                    border-radius: 3px;
                    display: inline-block;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 3px;
                    top: 50%;
                    margin-top: -1px;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    background: url('../img/icons/tick.svg');
                    background-size: contain;
                    border-radius: 50%;
                    opacity: 0;
                    display: inline-block;
                    transition: .3s;
                }
            }

            input:checked+span {
                &:after {
                    opacity: 1;
                }
            }

            .radio-select {
                margin-bottom: 15px;
            }
        }

        .info {
            display: inline-block;

            svg {
                width: 15px;

                path {
                    fill: #F4AF3C;
                }
            }
        }

        .field {
            margin-top: 5px;

            .error-message {
                font-size: 12px;
            }
        }

        label {
            .text {
                strong {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                }

                span {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .iban-logo {
            width: 55px;
            margin-left: 8px;
            margin-right: 8px;
        }

        .field {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.input-form {
                margin-bottom: 15px;
                flex-direction: column;
                align-items: flex-start;

                input {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 300;
                }

                span {
                    display: block;
                    font-weight: 500;
                    font-size: 16px;
                }
            }

            input {
                border-radius: 2px;
                border: 1px solid #ccc;
                padding: 9px 10px;
                margin-right: 10px;
            }
        }
    }
}

.offerteplek-form {
    width: 100%;
}

.offerteplek-page,
.offerteplek-form {
    font-size: 14px;

    .notification {
        max-width: 900px;
        margin: 0 auto;
        font-size: 16px;

        p {
            margin-bottom: 0;
            font-size: 16px;
        }

        .button {
            background: #156DB0;
            font-size: 16px;
        }
    }

    .pagination {
        display: inline-block;
        font-size: 0;
        margin-top: 20px;

        * {
            display: inline-block;
            padding: 7px 10px;
            border: 1px solid #ccc;
            border-right: none;
            font-size: 16px;
            font-weight: 600;

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-right: 1px solid #ccc;
            }
        }
    }

    h2 {
        font-size: 32px;
    }

    .history-block {
        margin: 0;
        box-shadow: none;

        &+.history-block {
            border-top: none;
        }

        .top {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 8px;

            strong {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .text {
            margin-bottom: 10px;
            text-align: justify;

            &,
            p {
                font-size: 14px;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;

            img {
                width: 14px;
            }

            .left {
                font-size: 16px;

                strong {
                    color: #156DB0;
                    font-weight: 600;
                }
            }

            .right {
                color: #156DB0;
                font-size: 16px;
            }
        }
    }

    .ui.large.buttons .or {
        font-size: 16px;
    }

    .ui.checkbox {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
    }

    * {
        font-family: @SourceSansPro;
    }

    strong {
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    .field input {
        height: initial;
    }

    .field {
        font-size: 16px;
        .progress{
            margin-top: 10px;
            &[data-progress-count="1"]{
                .line{
                    i{
                        &:nth-child(1){
                            background: #E90F11;
                        }
                    }
                }
                .progress-status{
                    color: #E90F11;
                }
            }
            &[data-progress-count="2"]{
                .line{
                    i{
                        &:nth-child(1){
                            background: #FFAB00;
                        }
                        &:nth-child(2){
                            background: #FFAB00;
                        }
                    }
                }
                .progress-status{
                    color: #FFAB00;
                }
            }
            &[data-progress-count="3"]{
                .line{
                    i{
                        &:nth-child(1){
                            background: #97C052;
                        }
                        &:nth-child(2){
                            background: #97C052;
                        }
                        &:nth-child(3){
                            background: #97C052;
                        }
                    }
                }
                .progress-status{
                    color: #97C052;
                }
            }
            &[data-progress-count="4"]{
                .line{
                    i{
                        &:nth-child(1){
                            background: #02B503;
                        }
                        &:nth-child(2){
                            background: #02B503;
                        }
                        &:nth-child(3){
                            background: #02B503;
                        }
                        &:nth-child(4){
                            background: #02B503;
                        }
                    }
                }
                .progress-status{
                    color: #02B503;
                }
            }
            .progress-status{
                text-align: right;
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: 600;
                color: #E7E7E7;
            }
            .line{
                display: flex;
                align-items: center;
                margin-left: -1px;
                margin-right: -1px;
                i{
                    display: block;
                    height: 4px;
                    width: 25%;
                    margin-left: 1px;
                    margin-right: 1px;
                    background: #E7E7E7;
                }
            }
        }
        .description{
            margin-bottom: 15px;
        }
    }

    .f-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .hidden {
        opacity: 0;
    }

    .visible {
        opacity: 1;
    }

    .w-100 {
        width: 100%;
    }

    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ui.fluid.button {
        font-size: 16px;
    }

    .main-wrapper {
        min-height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .prev-step {
        color: #999;
        margin-top: 20px;
        cursor: pointer;
    }

    .bullets {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 20px;

        .inner {
            position: relative;
            background: #EAF0F5;
            height: 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .path {
            z-index: 1;
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;

            &:first-child {
                width: 50px;
                flex-shrink: 0;
            }

            .inner-path {
                background: #C0EAB8;
                height: 10px;
                width: 100%;
                transition: .5s .3s;
            }
        }

        .bullet {
            display: block;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            text-align: center;
            background: @blue;
            position: relative;
            pointer-events: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            -ms-align-items: center;
            align-items: center;
            font-weight: bold;
            background: #C0EAB8;
            color: #fff;
            flex-shrink: 0;
            transition: .3s 0;

            &.active {
                background: #C0EAB8;
                color: #fff;
                transition: .3s .5s;

                span {
                    transition: .3s .5s;
                    color: #fff !important;
                }

                &~.bullet {
                    color: #827F89;
                    background: #EAF0F5;

                    &:before {
                        background: #EAF0F5;
                    }
                }

                &~.path .inner-path {
                    width: 0;
                    transition: .5s 0s;
                }

                &:before {
                    background: #6AC358;
                    transition: .3s .5s;
                }

                &:not(:first-child):after {
                    width: 80px;
                    margin-right: 0;
                }

                svg {
                    * {
                        fill: #fff;
                        transition: .3s .5s;
                    }
                }
            }

            svg {
                width: 16px;
                height: 16px;
                position: relative;
                z-index: 4;

                * {
                    fill: #827F89;
                    transition: .3s 0s;
                }
            }

            span {
                position: relative;
                z-index: 3;
                transition: .3s 0s;
                font-size: 18px;
                display: inline-block;
                margin-top: -2px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                background: #6AC358;
                border-radius: 50%;
                width: 80%;
                height: 80%;
                transform: translate(-50%, -50%);
                transition: .3s 0s;
                z-index: 2;
            }

            /*&.active {
                &:before {
                    width: 0;
                    height: 0;
                }
            }*/
        }
    }

    .ui.form .field input,
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        border-radius: 0;
    }

    .ui.segment {
        border-radius: 0;
    }

    .main-form {
        padding: 20px;

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .ui.fluid.button {
            background: #0DC0D8;
            transition: .3s;
            color: #fff;
            display: inline-block;
            width: initial;
            padding-left: 3rem;
            padding-right: 3rem;
            font-weight: 400;
            text-transform: none;

            &:hover {
                background: @dark-blue;
                color: #fff;
            }
        }

        .create-link {
            color: @another-blue;
            transition: .3s;
            text-decoration: underline;
            display: inline-block;
            margin-top: 30px;

            &:hover {
                color: #000;
            }
        }
    }

    .ui.form .field {
        margin-bottom: 1.7rem;
        width: 100%;

        &>label {
            margin-bottom: .4rem;
            font-weight: 500;
        }
    }

    .main-block {
        position: relative;
        overflow: hidden;
        opacity: 0;
        transition: .6s;
        max-width: 100vw;
        min-width: 100%;

        &.loaded {
            opacity: 1;
        }

        .wrapper-content {
            position: relative;
            max-height: ~'calc(100% - 18px)';
        }

        .content {
            max-height: 0;
            opacity: 0;
            transition: all .3s, max-height 0s .3s, position 0s 0s;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 1;

            .innner-content {
                display: inline-block;
                min-width: 100%;
            }

            &.active {
                top: 0;
                left: 0;
                z-index: 2;
                position: relative;
                opacity: 1;
                max-height: 5000px;
                transition: all .3s, max-height 0s 0s, position 0s .3s;
            }

            .ui.icon.button {
                position: relative;
                text-transform: uppercase;
            }

            .input-file {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            .list-files {
                padding: 0;

                li {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;

                    .remove-file {
                        position: relative;
                        display: block;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;

                        &:before,
                        &:after {
                            content: '';
                            transform-origin: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-45deg);
                            height: 2px;
                            border-radius: 2px;
                            width: 100%;
                            background: #ccc;
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(45deg);

                        }
                    }
                }
            }
        }
    }

    .field {
        position: relative;

        .error-message {
            position: absolute;
            top: 100%;
            left: 5px;
            margin-top: -3px;
            font-size: 12px;
            color: red;
            opacity: 0;
            pointer-events: none;

            .hidden {
                display: none;
            }
        }
    }

    .error {
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #9f3a38;
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            color: #E8C0BF;
        }

        .select2-container .select2-selection--single,
        .select2-selection--multiple {
            background: #fff6f6 !important;
            border-color: #e0b4b4 !important;
        }

        .error-message {
            opacity: 1;
        }
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding: 0;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;

        .select2-selection__choice {
            flex-shrink: 0;
            float: none;
            margin: 0;
            background: @blue;
            color: #fff;
            padding: 5px;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .select2-selection--single {
        padding-left: 7px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #fff;
        margin-right: 5px;
    }

    .select2-container .select2-search--inline {
        float: none;
        width: 300px;

        input {
            width: 100% !important;
            font-size: 16px !important;
            border: none !important;
        }
    }

    .wrapper-account {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }

    .success {
        margin-top: 40px !important;
    }

    .success,
    .insuficent {
        text-align: center;

        td {
            text-align: left;
        }

        h5 {
            text-transform: uppercase;
            font-size: 18px;
        }

        p {
            font-size: 17px;
        }

        .table-pricing {
            margin-top: 20px;
        }
    }

    .insuficent {
        max-width: 550px;

        p {
            margin-bottom: 25px;
        }

        .button:not(.item) {
            display: inline-block;
            background: @blue  !important;
            color: #fff;
            text-transform: uppercase;
            transition: .3s;
            font-size: 16px;

            &:hover {
                background: @dark-blue  !important;
            }
        }
    }

    .credits {
        font-weight: bold;
        margin-bottom: 35px;

        .count {
            display: inline-block;
            vertical-align: top;
            font-size: 50px;
            line-height: 40px;
            font-weight: 900;
        }

        span {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 3px;
            font-size: 17px;
        }
    }

    .table-pricing {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;

        td:nth-child(2) {
            text-align: right;
            font-weight: bold;
            font-size: 18px;
        }

        tr.purcahse-item {
            td {
                border-bottom: 1px solid rgba(34, 36, 38, .15);
            }
        }

        tr td .credits {
            font-weight: bold;
            margin-bottom: 0;
        }

        tr:not(.total) {
            td {
                padding-top: 20px;
                padding-bottom: 20px;
                vertical-align: bottom;
            }
        }

        .total {
            td {
                padding-top: 30px;

                .adding {
                    font-size: 14px;
                    display: block;
                    margin-top: 4px;
                    color: #999;
                }
            }

            td:nth-child(1) {
                font-size: 28px;
                font-weight: bold;
            }

            .count {
                font-size: 24px;
            }
        }

        .sub-total:not(.total) {
            td {
                padding-bottom: 0;

                &:nth-child(1) {
                    font-size: 16px;
                    font-weight: 900;
                }
            }
        }
    }

    .account {
        padding: 40px;
        width: 1000px;
        max-width: 100%;

        h1 {
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: -40px;
            color: @another-blue;
        }

        .left {
            .center {
                margin-top: 15px;
            }
        }

        .inner-sticky {
            max-width: 100%;
            margin: 0 auto;
            width: 500px;
            padding-top: 40px;

            h3 {
                margin-top: 0;
                color: @another-blue;
            }

            .ui.secondary.pointing.menu {
                border-bottom: 0;
                justify-content: center;
            }

            .ui.secondary.pointing.menu .item {
                font-size: 14px;
            }

            label {
                cursor: pointer;
            }

            .ui.segment {
                box-shadow: 0 1px 2px 0 fade(@another-blue, 30);
                border: 1px solid fade(@another-blue, 30);
            }
        }

        .inner-left {
            max-width: 400px;
            margin: 0 auto;

            .field {
                max-width: 100%;
                min-width: initial;
                width: 100%;
            }

            .row {
                margin-left: -10px;
                margin-right: -10px;
                margin-bottom: 1.7rem;
            }

            .block-6 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .block {
            margin-top: 60px;
        }

        h3 {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: @another-blue;
        }

        .center {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
        }

        .button:not(.item) {
            display: inline-block;
            background: #4dbf0b !important;
            color: #fff;
            text-transform: uppercase;
            transition: .3s;
            font-size: 16px;

            &:hover {
                background: darken(#4dbf0b, 20) !important;
            }
        }

        .tabs {
            padding-top: 10px;
            padding-bottom: 10px;

            .buttons {
                justify-content: space-between;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                width: 100%;

                .item {
                    width: 50%;
                    flex-grow: 1;
                    text-align: center;
                    background: #DEE6F1;
                    color: #91ABD1;
                    font-size: 16px;

                    &.active {
                        background: #91ABD1;
                        color: #2157A1;
                    }
                }
            }
        }

        .tab {
            table {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;

                tr {
                    td {
                        padding-bottom: 6px;

                        &:nth-child(1) {
                            width: 45%;

                            label {
                                font-size: 16px;
                            }
                        }

                        &:not(:nth-child(1)) {
                            text-align: right;
                            width: 22.5%;
                            font-size: 16px;

                            strong {
                                font-size: 16px;
                                text-align: right;
                                width: 130px;
                                text-decoration: none;
                                color: #000;

                                &.with-discount {
                                    color: #E71D36;
                                }
                            }
                        }

                        &:nth-child(2) {
                            text-align: left;
                        }

                        .discount {
                            text-decoration: line-through;
                            color: #aaa;
                            font-size: 14px;
                            font-weight: 500;
                            margin-right: 5px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .select2-container--default .select2-selection--multiple {
        border-color: rgba(34, 36, 38, .15);
    }

    .select2-container .select2-selection--single {
        height: 48px;
        border-color: rgba(34, 36, 38, .15);
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 46px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 44px;
        font-size: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #CDC9CD;
    }

    .thanks-step {
        padding: 40px 10px;

        h5 {
            font-size: 28px;
            line-height: 40px;
        }

        p {
            font-size: 17px;
            line-height: 25px;
            max-width: 450px;
            text-align: center;
        }
    }
}

.modal.error{
    .header{
        color: #f00;
    }
    .content{
        color: #f00;
        p{
            color: #f00;
        }
    }
}

.Zebra_DatePicker {
    margin-top: -8px;
}

.Zebra_DatePicker_Icon_Wrapper {
    width: 100%;
}

.offerteplek-page .success .credits {
    color: #2157A1;
}

.section-invoice {
    font-size: 0;
    padding-top: 40px;

    * {
        font-family: 'Open Sans', sans-serif;
    }

    .dib {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .top,
    .middle-path {
        margin-bottom: 40px;

        h3 {
            margin-bottom: 0;
        }

        .left {
            width: 66.6666666%;
            margin-bottom: 30px;
        }

        .right {
            width: 33.3333333%;
            margin-bottom: 30px;

            a {
                color: #000;
            }
        }
    }

    .main-table {
        width: 100%;

        thead {
            background: #000;
            color: #fff;

            td {
                font-weight: bold;

                &:not(:first-child) {
                    border-left: 1px solid #333;
                }
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;

            td {
                padding: 8px 6px 10px;
                border-bottom: 2px solid #D3D3D3;
                width: 16.66666666666%;

                &:nth-last-child(3) {
                    width: 66.6666666%;
                }
            }

            tfoot {
                .top-line {
                    td {
                        padding-bottom: 18px;
                    }
                }

                td:first-child {
                    border-bottom: none;
                }

                td:nth-child(2) {
                    font-weight: 700;
                }

                .bottom {
                    td {
                        border-bottom-color: #000;
                        font-weight: bold;
                        vertical-align: top;
                    }
                }

                .black-bottom-border {
                    border-bottom-color: #000;
                }
            }
        }
    }

    p,
    td {
        font-size: 17px;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.account .ui.buttons .or:before {
    content: 'of';
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .main-sticky-segment {
        padding: 1.5em;
    }
}

@media screen and (max-width: 767px) {

    .offerteplek-page,
    .offerteplek-form {
        .wrapper-for-stiky {
            position: static !important;

            .sticky {
                position: static !important;
            }
        }
    }

    .Zebra_DatePicker {
        margin-top: -8px;
        left: 50% !important;
        transform: translateX(-50%);
    }

    .fl-page {
        min-height: 100vh;
    }

    .offerteplek-page .wrapper-account .account.ui.stackable.grid>.right,
    .offerteplek-form .wrapper-account .account.ui.stackable.grid>.right {
        order: -1;
    }

    .offerteplek-page .history-block .bottom {
        flex-direction: column;

        .left {
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 600px) {

    .offerteplek-page .notification,
    .offerteplek-form .notification {
        flex-direction: column;

        .button {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 500px) {

    .offerteplek-page,
    .offerteplek-form {
        .inner-sticky .main-sticky-segment {
            font-size: 6px;

            .buttons {
                .button {
                    font-size: 13px;
                }
            }
        }

        .wrapper-account .account.ui.stackable.grid {

            &>.left,
            &>.right {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        .account .inner-sticky h3 {
            font-size: 20px;
        }

        .account .inner-sticky {
            padding-top: 0;
        }

        .ui.form .field {
            min-width: initial;
            max-width: 100%;
        }

        .main-block {
            width: 100% !important;
        }

        .main-wrapper {
            .column {
                width: 100%;
            }
        }
    }

    .offerteplek-form {
        padding: 0;
        width: 100%;

        &>.ui.segment {
            border: none;
            width: 100% !important;
            box-shadow: none;
        }
    }

    .offerteplek-page {
        min-height: 100vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        padding: 10px;
    }

    .offerteplek-page .success {
        .count {
            color: @blue;
        }

        p strong {
            color: @blue;
        }
    }

    .offerteplek-page .wrapper-account {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .offerteplek-page,
    .offerteplek-form {
        .inner-sticky .main-sticky-segment {
            font-size: 5px;
            margin-left: -7px;
            margin-right: -7px;
        }

        .account .tab table tr td:nth-child(2) {
            font-size: 17px;
        }

        .wrapper-account .account.ui.stackable.grid>.right {
            padding-bottom: 8px !important;
        }

        .ui.large.form {
            padding: 0;
            padding-top: 10px;
        }

        .credits .count {
            font-size: 40px;
            line-height: 30px;
        }

        .table-pricing .total td:nth-child(1),
        .table-pricing .total .count {
            font-size: 22px;
        }

        .account h1 {
            font-size: 38px;
        }

        .success p {
            font-size: 15px;

            br:not(:nth-last-child(2)) {
                display: none;
            }
        }
    }

    .offerteplek-page .account,
    .offerteplek-form .account {
        padding: 15px;
    }

    .offerteplek-page .account h1,
    .offerteplek-form .account h1 {
        margin-top: 0;
    }

    .offerteplek-page .bullets .path:first-child,
    .offerteplek-form .bullets .path:first-child {
        width: 25px;
    }

    .offerteplek-page .bullets,
    .offerteplek-form .bullets {
        padding: 20px 0;
    }

    .offerteplek-page .history-block,
    .offerteplek-form .history-block {
        padding: 15px !important;
    }

    .offerteplek-page .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}