/* ===============   Variables   ============== */
/* ===============   Fonts   ============== */
@SourceSansPro: "SourceSansPro", sans-serif;

/* ===============   Colors   ============== */

@blue: #2157A1;
@light-blue: #039ADD;
@dark-blue: #052757;
@another-blue: #91ABD1;

/* ===============   Sizes   ============== */
@ma: 0 auto;
